html {
  font-family: Verdana, sans-serif;
  background-color: black;
}

.body {
    text-align: center;
}

.footer {
  text-align: right;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  text-align: center;
 color: white;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  text-align: center;
 color: white;
}

p {
color: Gray;
  font-size: 21px;
}

.link {
  color: Aquamarine;
  font-size: 16px;
}
